body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f2f2f2;
  color: #202020;
}

.flexRow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
  width: 50%;
  background-color: #393172;
}

.right{
  width: 50%;
}